<div class="complete-card">
    <div class="card-header">
        <a routerLink="/overview">Stammdaten&ensp;</a>> {{trainee?.name}}
    </div>
    <mat-card>
        <mat-card-content>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        {{trainee?.name}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p><b>Einrichtung: </b>{{trainee?.institution}}</p>
                    <p><b>Von:</b> {{trainee?.startDate | date: "dd.MM.yyyy"}}</p>
                    <p><b>Bis: </b>{{trainee?.endDate | date: "dd.MM.yyyy"}}</p>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>
