.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: linear-gradient((90deg, #005cb9, #0875e1));
  }
  
  .thales-logo {
    width: 160px;
    height: auto;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .login-card {
    width: 400px;
  }
  
  .login-card-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    .mat-h1 {
      margin: 0;
    }
  }
  
  .mat-card-footer {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    margin-top: -12px;
  }
  
  .error-msg {
    padding-bottom: 16px;
  }
  