<div class="login">
    <mat-card class="login-card">
      <div class="login-card-header">
        <div class="mat-h1">Anmelden</div>
      </div>
      <form [formGroup]="loginFormGroup" (ngSubmit)="onFormSubmit()">
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>E-Mail Addresse</mat-label>
            <input matInput type="text" placeholder="E-Mail Addresse" formControlName="email" required>
            <mat-error *ngIf="email.invalid">Dieses Feld muss ausgefüllt werden</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Passwort</mat-label>
            <input matInput type="{{ passwordVisible ? 'text' : 'password' }}" placeholder="Passwort"
              formControlName="password" required>
            <button type="button" mat-icon-button matSuffix
              matTooltip="{{ passwordVisible ? 'Passwort verbergen' : 'Passwort anzeigen' }}"
              (click)="passwordVisible = !passwordVisible">
              <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="password.invalid">Dieses Feld muss ausgefüllt werden</mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-footer>
          <button mat-raised-button color="primary" type="submit" [disabled]="loginFormGroup.invalid">ANMELDEN</button>
        </mat-card-footer>
      </form>
    </mat-card>
  </div>
  
