<div class="complete-card">
    <div class="card-header">
        Übersicht
    </div>
    <mat-card>
        <mat-card-content>
            <div class="top-buttons">
                <mat-card class="info-box">
                    <b>Auslastung Gesamt: {{capacityPercent}}% ({{capacityOverall}} von {{capacityOverall_max}} Plätze
                        belegt)</b>
                </mat-card>
                <button mat-raised-button color="primary" class="square-icon-button">
                    <mat-icon>biotech</mat-icon> OPTIMIEREN
                </button>
            </div>
            <div class="filter-buttons">
                <button mat-stroked-button color="primary" class="square-icon-button" style="padding-right: 2rem;"
                    #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="filterPicker">
                    <mat-icon>filter_list</mat-icon> FILTER
                </button>
                <mat-form-field appearance="outline" class="search-bar">
                    <mat-label>Suche nach Einrichtung</mat-label>
                    <input matInput placeholder="Suche">
                    <mat-icon matPrefix>search</mat-icon>
                </mat-form-field>
            </div>
            <mat-menu #filterPicker="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="schools">Schulen</button>
            </mat-menu>
            <mat-menu #schools="matMenu">
                <button mat-menu-item (click)="addSchoolFilter('Schule 1')">Schule 1</button>
                <button mat-menu-item (click)="addSchoolFilter('Schule 2')">Schule 2</button>
                <button mat-menu-item (click)="addSchoolFilter('Schule 3')">Schule 3</button>
            </mat-menu>
            <mat-form-field appearance="outline" *ngIf="schoolFilterList.length > 0" class="filter-list">
                <mat-label>Filter</mat-label>
                <mat-chip-list #filterList>
                    <mat-chip [removable]="true" *ngFor="let schoolFilter of schoolFilterList"
                        (removed)="removeSchoolFilter(schoolFilter)">
                        {{schoolFilter}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </mat-form-field>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="overallDataSource" matSort>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_name">Einrichtungsname</th>
                        <td mat-cell *matCellDef="let element" class="table_name">
                            {{element.name}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="capacity">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Auslastung</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-progress-bar mode="determinate" matTooltip="{{getPercentCapacity(element.capacity, element.capacity_max)}}% ({{element.capacity}} von {{element.capacity_max}} Plätze
                            belegt)" [value]="(element.capacity / element.capacity_max) * 100" class="progress-bar">
                            </mat-progress-bar>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="showInstitution(row)" class="data-row"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>