.info-box {
    width: fit-content;
    margin-bottom: 1rem;;
}

.square-icon-button {
    padding-left: 12px;
    .mat-icon {
        height: 20px;
        width: 20px;
        padding-right: 8px;
    }
    .material-icons {
        font-size: 20px;
    }
    bottom: 8px;
}

.top-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    width: 100%;
    margin-left: 1rem;
}

.filter-buttons {
    display: flex;
    align-items: center;
}

.filter-list {
    width: 100%
}

table {
    width: 100%;
}

.table_name {
    width: 20%;
}

.progress-bar {
    height: 1.75rem;
}

.mat-row {
    cursor: pointer;
}

.mat-ripple-wrapper {
    position: relative;
}

tr.data-row:hover{
    background: whitesmoke;
}

tr.data-row:active {
    background: #efefef;
}