<div class="complete-card">
    <div class="card-header">
        <a routerLink="/overview">Übersicht&ensp;</a>> {{institution?.name}}
    </div>
    <mat-card>
        <mat-card-content>
            <div class="top-buttons">
                <mat-card class="info-box">
                    <b>Auslastung Gesamt: {{getPercentCapacity(institution?.capacity, institution?.capacity_max)}}%
                        ({{institution?.capacity}} von {{institution?.capacity_max}} Plätze
                        belegt)</b>
                </mat-card>
                <button mat-raised-button color="primary" class="square-icon-button">
                    <mat-icon>insert_invitation</mat-icon> SKALIEREN
                </button>
            </div>
            <!--<div *ngIf="institution">
                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
            </div>-->

            <google-chart *ngIf="myData.length > 0" [type]="'Timeline'" [dynamicResize]="true" style="width: 100%; height: 400px; overflow: hidden" [data]="myData" [columns]="chartColumns">

            </google-chart>
            <div class="mat-elevation-z8 table-space">
                <table mat-table [dataSource]="traineeDataSource" matSort>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Auszubildender</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.name}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="startDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Datum</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.startDate | date: 'dd.MM.yyyy'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="endDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>End Datum</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.endDate | date: 'dd.MM.yyyy'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="daysDiff">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Verbleibende Zeit</th>
                        <td mat-cell *matCellDef="let element">
                            {{remainingDays(element.endDate)}} Tage
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" class="data-row" (click)="showTrainee(row)"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>