a {
    color: white;
    text-decoration-line: none;
}

.info-box {
    width: fit-content;
    margin-bottom: 1rem;;
}

.square-icon-button {
    padding-left: 12px;
    .mat-icon {
        height: 20px;
        width: 20px;
        padding-right: 8px;
    }
    .material-icons {
        font-size: 20px;
    }
    bottom: 8px;
}

.top-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 100%;
}

.table-space {
    margin-top: 3rem;
}

.mat-row {
    cursor: pointer;
}

tr.data-row:hover{
    background: whitesmoke;
}

tr.data-row:active {
    background: #efefef;
}