<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menü</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/overview']" matTooltip="Übersicht: Hier ist die Einteilungsplanung zu sehen">
        <mat-icon class="menu-icon">list</mat-icon> Übersicht
      </a>
      <a mat-list-item matTooltip="Stammdaten: Hier werden Stammdaten der Auszubildenden, Schulen und Einrichtungen erstellt, bearbeitet und gelöscht. Diese Funktion steht noch nicht zur Verfügung">
        <mat-icon class="menu-icon">filter_none</mat-icon> Stammdaten
      </a>
      <a mat-list-item matTooltip="Zeitplan: Hier wird ein Zeitplan dargestellt. In einem Kalender werden Urlaubs- und Krankheitstage eines Auszubildenden abgebildet. Diese Funktion steht noch nicht zur Verfügung.">
        <mat-icon class="menu-icon">access_time</mat-icon> Zeitplan
      </a>
      <a mat-list-item matTooltip="Einstellungen: Hier sind verschiedene Einstellungen zu sehen. Zum Beispiel Standardfilter-Setzungen, Farb-Design Auswahl, Account Einstellungen, etc. Diese Funktion steht noch nicht zur Verfügung.">
        <mat-icon class="menu-icon">settings</mat-icon> Einstellungen
      </a>
      <a mat-list-item (click)="logout()" matTooltip="Abmelden: Hier loggt man sich aus Anwendung aus.">
        <mat-icon class="menu-icon">exit_to_app</mat-icon> Abmelden
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Organice Demo Version</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
