
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-organice-blue-light: (
    50 : #e0ebf7,
    100 : #b3ceea,
    200 : #80aedc,
    300 : #4d8dce,
    400 : #2674c4,
    500 : #005cb9,
    600 : #0054b2,
    700 : #004aaa,
    800 : #0041a2,
    900 : #003093,
    A100 : #beceff,
    A200 : #8ba8ff,
    A400 : #5881ff,
    A700 : #3f6eff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$organice-demo-primary: mat-palette($mat-organice-blue-light);
$organice-demo-accent: mat-palette($mat-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$organice-demo-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$organice-demo-theme: mat-light-theme($organice-demo-primary, $organice-demo-accent, $organice-demo-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($organice-demo-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card-header {
    background-color: mat-color(map-get($organice-demo-theme, primary)) !important;
    color: white !important;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
    display: flex;
    align-items: center;
    font-size: medium;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .complete-card {
    margin: 2rem auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
  }